<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

	<listener>
		<listener-class>
			ar.com.ospim.automatico.InicializadorIndiceEmpresas
		</listener-class>
	</listener>
	
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            /WEB-INF/rest-servlet.xml
        </param-value>
	</context-param>
	
	<servlet>
		<servlet-name>restws</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet> 
		<servlet-name>PdfServlet</servlet-name>
		<servlet-class>ar.com.ospim.servlets.PdfServlet</servlet-class>
		<load-on-startup>12</load-on-startup>		
	</servlet>
	<servlet> 
		<servlet-name>XlsServlet</servlet-name>
		<servlet-class>ar.com.ospim.servlets.XLSServlet</servlet-class>
		<load-on-startup>13</load-on-startup>		
	</servlet>
	<servlet> 
		<servlet-name>ZipServlet</servlet-name>
		<servlet-class>ar.com.ospim.servlets.ZipServlet</servlet-class>
		<load-on-startup>14</load-on-startup>		
	</servlet>
	<servlet> 
		<servlet-name>OdtServlet</servlet-name>
		<servlet-class>ar.com.ospim.servlets.OdtServlet</servlet-class>
		<load-on-startup>15</load-on-startup>		
	</servlet>
	<servlet> 
		<servlet-name>TxtServlet</servlet-name>
		<servlet-class>ar.com.ospim.servlets.TxtServlet</servlet-class>
		<load-on-startup>15</load-on-startup>		
	</servlet>
	<servlet-mapping>
		<servlet-name>PdfServlet</servlet-name>
		<url-pattern>/pdfservlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XlsServlet</servlet-name>
		<url-pattern>/xlsservlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ZipServlet</servlet-name>
		<url-pattern>/zipservlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OdtServlet</servlet-name>
		<url-pattern>/odtservlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TxtServlet</servlet-name>
		<url-pattern>/txtservlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>restws</servlet-name>
		<url-pattern>/restws/*</url-pattern>
	</servlet-mapping>
	
	
	<!--  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
   -->

	<jsp-config>
		<jsp-property-group>
			<url-pattern>/html/portlet/compras/*</url-pattern>
			<page-encoding>ISO-8859-1</page-encoding>
		</jsp-property-group>
	</jsp-config>

</web-app>
